.duration-300 {
    transition-duration: .3s;
}
.text-white {
    color: rgb(255 255 255);
}
.font-semibold {
    font-weight: 600;
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.bg-primeColor {
    background-color: rgb(38 38 38);
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.cursor-pointer {
    cursor: pointer;
}
.w-\[92px\] {
    width: 92px;
}
.h-\[35px\] {
    height: 35px;
}
.flex {
    display: flex;
}
.bg-blacks:hover{
    background-color: black;
}