/* Brand.css */

/* Styling for the container div */
.brand-container {
    margin-top: 0;
  }
  
  /* Styling for the clickable title */
  .brand-title {
    cursor: pointer;
  }
  
  /* Styling for the title with icons */
  .nav-title {
    color: #007BFF; /* Bootstrap's primary color */
    text-decoration: underline;
  }
  
  /* Styling for the list of brands */
  .brand-list {
    list-style: none;
  }
  
  /* Styling for individual brand items */
  .brand-item {
    border-bottom: 1px solid #F0F0F0;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    gap: 0.5rem !important;
    font-size: 1rem;
    color: #767676;
    transition: color 300ms, border-color 300ms;
    font-family: "DM Sans",sans-serif;
    font-weight: 500;
   
    
    
  }
  
  /* Styling for brand items on hover */
  .brand-item:hover {
    color: black;
    border-color: #999;
  }
  