.font-titleFont {
  font-family: "Poppins", sans-serif;
}
.bg-\[\#f3f3f3\] {
  background-color: rgb(243 243 243);
}

.h-80 {
  height: 20rem;
}
.mb-20 {
  margin-bottom: 5rem;
}
.relative {
  position: relative;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.gap-6 {
  gap: 1.5rem;
}
.justify-center {
  justify-content: center;
}
.items-start {
  align-items: flex-start;
}
.flex-col {
  flex-direction: column;
}
.h-80 {
  height: 20rem;
}
.flex {
  display: flex;
}
.end-0 {
  right: 0 !important;
}
.top-0 {
  top: 0;
}
.absolute {
  position: absolute;
}
.object-cover {
  object-fit: cover;
}
.text-primeColorr {
  color: #262626;
}
.font-semibold {
  font-weight: 600;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
h1,
p {
  margin: 0;
}
.fontt-normall {
  font-weight: 400;
  font-family: Poppins, sans-serif;
}
.textt-basee {
  font-size: 16px !important;
  line-height: 1.5rem;
}
.max-w-\[600px\] {
  max-width: 600px;
}
.mr-4 {
  margin-right: 1rem;
}

@media (max-width: 575.98px) {
  .md\:inline-block {
    display: inline-block;
  }
  .md\:w-2\/3 {
    width: 66.666667%;
  }
  .md\:px-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .md\:bg-transparent {
    background-color: initial;
  }
  .md\:inline-block{
    display: inline-block;
  }
  .hidden {
    display: none;
}
.bg-\[\#f3f3f3\] {
  
  background-color: rgb(243 243 243);
}
}
@media (min-width: 1280px) {
  .xl\:w-1\/2 {
    width: 50% !important;
  }
}
.w-full {
  width: 100%;
}




